.wrapper {
  padding: 2rem 3rem 2rem 0;
  position: relative;
  height: 100%;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(#fff, .03);
    z-index: -1;
    border-radius: 2rem;
  }
}

.title {
  text-align: center;
  color: #fff;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 500;
}

.chartWrapper {
  margin-top: 2rem;
}