@import 'src/assets/styles/media-queries.scss';

body {
  background: radial-gradient(100% 197.75% at 0% 1.03%,#272d49 0%,#222740 100%);
}

#root {
  height: 100%;
}

.page {
  position: relative;
  height: 100%;
  display: flex;
}

.charts-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 90%;
}

.col-6 {
  @include mobile-tablet {
    &:not(:first-child) {
      margin-top: 2rem;
    }
  }
}

.charts-row {
  margin-top: 2rem;
}

.title {
  font-size: 3rem;
  line-height: 4rem;
  color: #fff;
}

.farmName {
  font-weight: 700;
  color: rgb(102, 200, 255);
}